/* ======================= Checkout Css Start ============================= */
.payment-item {
    &__content {
        display: none; // Hidden by default
        margin-top: 12px;
        &::before {
            position: absolute;
            content: "";
            width: 20px;
            height: 14px;
            background-color: var(--main-50);
            left: 32px;
            bottom: calc(100% + -1px);
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        }
    }
}

/* Show content when payment is selected - handled by React inline style */
/* ======================= Checkout Css End ============================= */